@import "tailwindcss";


body {
  font-family: 'Poppins', sans-serif;
}

.marquee-track {
  width: max-content;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100vw); /* start fully off-screen right */
  }
  100% {
    transform: translateX(-40%); /* exit fully off-screen left */
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}


html, body {
  overflow-x: hidden;
}
.fade-edges {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}